@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@800&display=swap');
.organiza{
    font-family: 'Golos Text', sans-serif;
    background-color:  rgb(207, 207, 207);
}
li{
    list-style-type: none;
}